<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/hotel.css">
    <title>Ingresos</title>
</head>
<body>
    <div id="main_form">
        <form action="http://localhost:3000/hotels" method="post" id="ingresos">
            <fieldset>
                <div class="checks" id="check">
                    <input type="radio" name="check" id="check_in" value="check_in" onclick="inoutCheck(0)">
                    <label for="check_in">Arribos</label>
                    <input type="radio" name="check" id="check_out" value="check_out" onclick="inoutCheck(1)">
                    <label for="check_out">Partidas</label>
                </div>
                <label for="hora"><p>Hora: </p></label>
                <input type="time" name="hora"><br>
                <label for="fecha">Fecha: </label>
                <input type="date" name="fecha" id="fecha"><br>
                <label for="nro_habitacion">N° habitación: </label>
                <input type="text" name="nro_habitacion"><br>
                <label for="nro_personas">Cantidad de personas: </label>
                <input type="text" name="nro_personas"><br>
                <label for="nro_valijas" id="valijas_label">Cantidad de valijas: </label>
                <input type="text" name="nro_valijas" id="valijas_input"><br>
                <div class="checks" id="puerto">
                    <h3>Desde:</h3>
                    <input type="radio" id="carrasco" name="puerto" value="aero_carrasco">
                    <label for="carrasco">Aeropuerto de Carrasco</label>
                    <br>
                    <input type="radio" id="puerto" name="puerto" value="puerto_mvd">
                    <label for="puerto">Puerto de Montevideo</label>
                    <br>
                    <input type="radio" id="no_sabe" name="puerto" value="sin_respuesta">
                    <label for="no_sabe">N/S</label>
                    <br>
                    <input type="button" value="Enviar" id="enviar" onclick="submitForm()">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="table_content">
        <h2>Arribos</h2>
        <table id="viajes_in">
            <tr>
                <th>Fecha</th>
                <th>Hora de llegada</th>
                <th>Habitacion</th>
                <th>Nro. Huespedes</th>
                <th>Desde</th>
            </tr>
            <% if (arribos.length) { %>
            <%  arribos.forEach(function(data) { %>
            <% fecha = (data.fecha.getDate() + '/' + (data.fecha.getMonth() + 1) + '/' + data.fecha.getFullYear()) %>
            <tr>
                <td> <%= fecha %> </td>
                <td> <%= data.hora_de_vuelo %> </td>
                <td> <%= data.nro_habitacion %> </td>
                <td> <%= data.nro_personas %> </td>
                <td> <%= data.puerto %> </td>
            </tr>
            <%  }); %>
            <% } else { %>
            <tr>
                <td>No hay viajes</td>
            </tr>
            <% } %>
        </table>
    </div>
    <div class="table_content">
        <h2>Partidas</h2>
        <table id="viajes_out">
            <tr>
                <th>Fecha</th>
                <th>Hora de partida</th>
                <th>Habitacion</th>
                <th>Nro. Huespedes</th>
                <th>Desde</th>
            </tr>
            <% if (partidas.length) { %>
            <%  partidas.forEach(function(data) { %>
            <% fecha = (data.fecha.getDate() + '/' + (data.fecha.getMonth() + 1) + '/' + data.fecha.getFullYear()) %>
            <tr>
                <td> <%= fecha %> </td>
                <td> <%= data.hora_de_vuelo %> </td>
                <td> <%= data.nro_habitacion %> </td>
                <td> <%= data.nro_personas %> </td>
                <td> <%= data.puerto %> </td>
            </tr>
            <%  }); %>
            <% } else { %>
            <tr>
                <td>No hay viajes</td>
            </tr>
            <% } %>
        </table>
    </div>
    <script src="../public/js/hotel.js"></script>
</body>
</html>