<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/transport.css">
    <title>Viajes</title>
</head>
<body>
    <div class="title">
        <h2>Arribos</h2>
    </div>
    <div class="table_content">
        <button onClick="window.location.reload();">Actualizar Lista</button>
        <table id="viajes_in">
            <tr>
                <th>Vuelo</th>
                <th>Hora de llegada</th>
                <th>Fecha</th>
                <th>Habitacion</th>
                <th>Nro. Huespedes</th>
                <th>Origen</th>
                <th>Destino</th>
            </tr>
            <% if (arribos.length) { %>
            <%  arribos.forEach(function(data) { %>
            <% fecha = (data.fecha.getDate() + '/' + (data.fecha.getMonth() + 1) + '/' + data.fecha.getFullYear()) %>
            <tr>
                <td> <%= data.vuelo %> </td>
                <td> <%= data.hora_de_vuelo %> </td>
                <td> <%= fecha %> </td>
                <td> <%= data.nro_habitacion %> </td>
                <td> <%= data.nro_personas %> </td>
                <td> <%= data.origen %> </td>
                <td> <%= data.destino %> </td>
            </tr>
            <%  }); %>
            <% } else { %>
            <tr>
                <td>No hay viajes</td>
            </tr>
            <% } %>
        </table>
    </div>
    <div class="title">
        <h2>Partidas</h2>
    </div>
    <div class="table_content">
        <table id="viajes_out">
            <tr>
                <th>Vuelo</th>
                <th>Hora de salida</th>
                <th>Fecha</th>
                <th>Hora del pickup</th>
                <th>Habitacion</th>
                <th>Nro. Huespedes</th>
                <th>Nro. de valijas</th>
                <th>Origen</th>
                <th>Destino</th>
            </tr>
            <% if (partidas.length) { %>
            <%  partidas.forEach(function(data) { %>
            <% fecha = (data.fecha.getDate() + '/' + (data.fecha.getMonth() + 1) + '/' + data.fecha.getFullYear()) %>
            <tr>
                <td> <%= data.vuelo %></td>
                <td> <%= data.hora_de_vuelo %> </td>
                <td> <%= fecha %> </td>
                <td> <%= data.hora_pickup %></td>
                <td> <%= data.nro_habitacion %> </td>
                <td> <%= data.nro_personas %> </td>
                <td> <%= data.nro_valijas %></td>
                <td> <%= data.origen %> </td>
                <td> <%= data.destino %> </td>
            </tr>
            <%  }); %>
            <% } else { %>
            <tr>
                <td>No hay viajes</td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
</html>